body{
    
    padding: 100px;
}
.link:visited{
    color: blue;
}.link:active{
color: brown;
font-size: medium;
}
.link:hover{
    color: burlywood;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}.ul
{
    list-style-type:square;
}.ol{
    list-style-type:upper-roman;
}
tr:hover{
color: #199f0d;
font-size: larger;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-variant: small-caps;
}table{
    padding: 50px; 
}
.h1
{
  align-items: center;
}


