
}.h1
{
    color: rgb(222, 29, 29);
   text-align: center;
}
#par
{
    text-align: center;
}
.black
{
    text-align: center;
    color: blue;
}
.heading{
    color: blue;
    text-align: center;
}
.imge
{
   align-self: center;
}#par
{
    color: brown;
}
.lib
{
    color: chartreuse;
    text-align: center;
}