*
{
    padding: 0;
    border: 0;
    margin: 0;
}
.main
{
    height: 180vh;
    width: 100%;
    background-color:rgb(50, 43, 43);
 border-bottom: 20px;

}
.top
{
    width: 100%;
    height: 8%;
    background-color: black;
    
}
.top img
{
    height: 75px;
    width: 160px;
    margin: 20px 0px 0px 50px;
    
}
.middle
{
    background-color: black;
    width: 50%;
    height: 120vh;
    margin: 80px 0px 0px 380px;
    border-radius: 10px;
    
}
.middle h1
{
    font-size: 40px;
    color: white;
   
padding-left: 200px;
padding-top: 50px;
position:fixed;
top: 0;
left: 0;
}
.google
{
    height: 42px;
    width: 320px;
    background-color:black;
    border: 1px solid rgb(244, 243, 243);
    margin: 50px 0px 0px 210px;
    border-radius: 33px;
    display: flex;
}
.google img
{
    height: 30px;
width: 35px;
margin: 3px 0px 0px 23px;
}
.google p
{
    color:white;
    margin: 10px 0px 0px 40px;
    font-size: larger;
}
.facebook
{
    height: 42px;
    width: 320px;
    background-color:black;
    border: 1px solid rgb(244, 243, 243);
    margin: 8px 0px 0px 210px;
    border-radius: 33px;
    display: flex;
}
.facebook img
{
    height: 20px;
width: 25px;
margin: 10px 0px 0px 30px;
}
.facebook p
{
    color: white;
    margin: 10px 0px 0px 40px;
    font-size: larger;
    
}
.apple
{
    height: 42px;
    width: 320px;
    background-color:black;
    border: 1px solid rgb(244, 243, 243);
    margin: 8px 0px 0px 210px;
    border-radius: 33px;
    display: flex;
}
.apple img
{
    height: 25px;
    width: 25px;
    margin: 7px 0px 0px 28px;

}
.apple p
{
    color: white;
    margin: 10px 0px 0px 40px;
    font-size: larger;
    
}
.email{
    margin: 180px 0px 0px 0px;
}
.email p
{
color: white;
margin: 20px 0px 0px 210px;
font-weight: 800;

}
.email input
{
    height: 42px;
    width: 320px;
    background-color:black;
    border: 1px solid rgb(244, 243, 243);
    margin: 10px 0px 0px 210px;
    color: white;
    display: flex;  
}
.button
{
    height: 42px;
    width: 320px;
    background-color:rgb(53, 211, 53);
    border: 1px solid rgb(244, 243, 243);
    margin: 50px 0px 0px 210px;
    border-radius: 33px;
    color: black;
    font-size: larger;
    font-weight: 600;
}
.parag
{
    color: white;
    margin: 20px 0px 0px 310px;
    text-decoration: underline;
    
}
